PORT=5001
MONGO_URI=mongodb://127.0.0.1:27017/bytecode
JWT_SECRET=frosthowl
JWT_EXPIRE=10d
NODE_ENV=development

# Email configuration for OTPs
EMAIL_SERVICE=gmail
EMAIL_USER=frosthowl005@gmail.com
EMAIL_PASS=rhaxzjimfjopkcqk
